.channel_banner {
    display: flex;
    align-items: center;
    width: 200px;

}

.channel_banner i {
    // margin-left: 8px;
    margin-right: 8px;
    color: #868a8e;
    text-overflow: ellipsis;
}

.channel_banner p {
    color: #868a8e;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;

}
 
.add {
    margin-left: auto;
    padding-right: 10px;
    font-weight: bold;
    font-size: 25px;
    display: flex;
    align-items: center;
    padding-bottom: 5px;
}

.outer {
    // width: 200px;
}

.add:hover{
    cursor: pointer;
}

.circle-x {
    display: flex;
    justify-content: flex-end;
    margin-top: 5%;
    margin-right: 5%;
}

.username {
    color: white;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    bottom: 0;
    position: absolute;
    background-color: #282a2e;
    width: 100%;
}

.username h3 {
    margin-left: 5%;
}




