.channel_banner {
    display: flex;
    align-items: center;

}

.channel_banner i {
    margin-left: 8px;
    margin-right: 8px;
    color: #868a8e;
}

.channel_banner p {
    color: #868a8e;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;

}
 
.add {
    margin-left: auto;
    padding-right: 6%;
    font-weight: bold;
    font-size: 25px;
}



