.message-input {
    position: relative;
}

.channel-banner h1{
    margin: 0;
}

.channel-banner {
    display: flex;
    align-items: center;
    height: 50px;
    border-bottom: 1px solid black;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    color: white;
}


.input-bar form{
    position: absolute;
    bottom: 2%;
    display: flex;
    height: 35px;
    width: 100%;
    justify-content: center;
}

.input-bar form input {
    width: 98%;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    // height: 40px;
}

.message-item {
    display: flex;
    background-color: #37393f;
    color: white;
    width: 98%;
    height: auto;
    align-items: center;
    // flex-direction: column;
}

.dms {
    margin-left: 8px;
}

#indent {
    padding-left: 8px;
    display: flex;
    align-items: center;
    color: #868a8e;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 0px;
    font-size: 16px;
    
}

.single-user {
    display: flex;
    align-items: center;
    color: #868a8e;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 0px;
    font-size: 16px;
    height: 25px;
    width: 60%;
    overflow: hidden;
    text-overflow: ellipsis;
}

#username2 {
    margin-left: 15px;
}

.single-user a {
    text-decoration: none;
    color: #868a8e;
}

.user-logo {
    width: 35px;
    height: 35px;
    margin-right: 15px;
}

.message-input .color {
    background-color: #37393f;
    position: absolute;
    left: 0;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column-reverse;
    overflow-y: scroll;
}

.message-item .message-body {
    display: flex;
    width: 100%;
}

.message-item .message-body .date {
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    margin-bottom: 0px;
    margin-top: 0px;
}

.color {
    height: 88%;
}

.bar {
    background-color: #40444b;
    border: none;
    border-right: 1px solid black;
    color: white;
    width: 100%;
}

.bar:focus {
    outline: none;
}

.submit {
    background-color: #40444b;
    color: white;
    border: none;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    margin-right: auto;
}

.message-title {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.date {
    display: flex;
    // justify-content: center;
    align-items: center;
    width: 100%;
}

#date-format {
    margin-bottom: 0px;
    font-size: 15px;
}

.message-title p {
    font-size: 1em;
    color: #a9acae;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    margin-top: 10px;
    
}

.message-title h3 {
    margin-right: 10px;
    // margin-left: 15px;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-bottom: 0px;
    margin-top: 10px;
}

.body {
    // margin-left: 15px;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    text-align: left;
    width: 100%;
}

.input-bar input {
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    text-indent: 10px;
}

