.message-input {
    position: relative;
}

.input-bar form{
    position: absolute;
    bottom: 2%;
    display: flex;
    height: 3%;
    width: 100%;
    justify-content: center;
}

.input-bar form input {
    width: 95%;
    border-radius: 5px;
}

.message-item {
    display: flex;
    background-color: #37393f;
    color: white;
    width: 100%;
    flex-direction: column;
}

.message-input .color {
    background-color: #37393f;
    position: absolute;
    left: 0;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column-reverse;
    overflow-y: scroll;
}

.message-item .message-body {
    display: flex;
    width: 100%;
}

.message-item .message-body .date {
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.color {
    height: 95%;
}

.bar {
    background-color: #40444b;
    border: none;
    border-right: 1px solid black;
    color: white;
}

.submit {
    background-color: #40444b;
    color: white;
    border: none;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.message-title {
    display: flex;
    align-items: center;
}

.message-title p {
    font-size: .75em;
    color: #a9acae;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    
}

.message-title h3 {
    margin-right: 10px;
    margin-left: 10px;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.body {
    margin-left: 10px;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}

