.server_layout {
    display: grid;
    grid-template-columns: 80px 2fr 15fr ;
    height: 100vh;
    position: relative;
    background-color: #37393f;
}   

.server_layout ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin: 0px;
    align-items: center;
    background-color: #202225;
    grid-row: 1/2;
}

.server_layout li {
    padding-bottom: 5px;
    margin: 0px;
}

.display_modal {
    display: block;
}

.hide_modal {
    display: none;
}


.home:focus {
    border-radius: 20px;
    background-color: #404EED;
}

.home:hover {
    border-radius: 20px;
    background-color: #404EED;
}

.home {
    height: 55px;
    width: 55px;
    border-radius: 50px;
    background-image: image-url("button_logo.svg");
    margin-bottom: 8px;
    transition: 0.1s;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #2f3137;
    background-position: center;
    border: none;
}

.line {
    border-top: 2px solid #37393f;
    width: 60%;
    margin-bottom: 8px;
}

.modal {
    grid-column: 1/-1;
    position: absolute;
    grid-row: 1/2;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    height: 400px;
    width: 300px;
}

.title {
    text-align: center;
}

.modal input {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.dropdown {
    grid-column: 2/3;
    display: grid;
}

i {
    display: inline-block;
}

.server_menu {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
    height: 50px;
    align-items: center;
    grid-row: 1/2;
    position: relative;
}

.server-dropdown{
    position: fixed;
    z-index: 1;
    height: 400px;
}

.server_menu p{
    padding-left: 20px;
    font-size: 15px;
    font-weight: bold;
    color: white;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    
}

.server_menu i {
    font-size: 18px;
    color: white;
    padding-right: 6%;
}

.channel_container {
    height: 100vh;
    background-color: #2f3137;
    display: grid;
    grid-template-rows: 50px 50px;
}

.options p {
    margin-left: 20px;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.channels ul{
    background-color: #2f3137;
    display: block;
}

.single-channel i{
    padding-left: 5px;
    padding-right: 5px;
    font-size: 20px;
}

.channels {
    display: flex;
    flex-direction: column;
}

.single-channel{
    display: flex;
    align-items: center;
    color: #868a8e;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 0px;
    font-size: 16px;
    height: 20px;
}

.single-channel .cog {
    margin-left: auto;
    padding-right: 5%;
}

.single-channel p{
    color: #868a8e;
}

.channels ul li {
    margin-top: 10px;
    margin-bottom: 10px;
}


.createChannel {
    background-color: #37393f;
    width: 400px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    top: 50%;
    position: fixed;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    text-align: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    border: 1px solid black;
    display: flex;
    justify-content: center;
}

.createChannel input{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    border-radius: 5px;
    background-color: #37393f;
    border: 1px solid black;
    border-bottom: 1px solid black;
    color: white;
    text-indent: 5px;
}

.createChannel i {
    color: #dcddde;
    
}

.createChannel button{
    margin-bottom: 20px;
    border-radius: 5px;
}

.editDeleteChannel {
    background-color: #37393f;
    width: 400px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    top: 50%;
    position: fixed;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    text-align: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    border: 1px solid black;
    height: 300px;
}

.modal-container {
    position: fixed;
    top: 0;
    left: 0; 
    height: 100vh;
    width: 100vw;
    z-index: 2;
    align-items: center;
}

.server-item:focus {
    border-radius: 20px;
    background-color: #404EED;
}

.server-item:hover {
    border-radius: 20px;
    background-color: #404EED;
}

.server-item {
    height: 55px;
    width: 55px;
    border-radius: 50px;
    margin-bottom: 8px;
    transition: 0.1s;
    background-color: #2f3137;
    border: none;
    color: white;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.add-server {
    height: 55px;
    width: 55px;
    border-radius: 50px;
    margin-bottom: 8px;
    transition: 0.1s;
    background-color: #2f3137;
    border: none;
    color: #3b9e5b;
    font-size: 30px;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.add-server:focus {
    border-radius: 20px;
    background-color: #3b9e5b;
    color: white;
}

.add-server:hover {
    border-radius: 20px;
    background-color: #3b9e5b;
    color: white;
}

.hash {
    padding-right: 5px;
}

.createChannelButtons {
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
    color: #dadbdc;
    background-color: #202225;
    align-items: center;
}

.createChannelButtons button {
    margin-top: 20px;
}

.createChannelButtons .cancel {
    border: none;
    color: #dadbdc;
    background-color: inherit;
}

.createChannelButtons .modalCreateButton {
    background-color: #5765f2;
    color: #dadbdc;
    border-radius: 5px;
    border: none;
}

.cancel {
    margin-right: 10px;
}

.explore {
    grid-column: 3/4;
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    margin-left: 10px;
    color: white;
}

.explore-button {
    display: block;
    margin-left: auto;
}

