.server_layout {
    display: grid;
    grid-template-columns: 80px 200px 15fr ;
    height: 100vh;
    position: relative;
    background-color: #37393f;
}   

.server_layout ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin: 0px;
    align-items: center;
    background-color: #202225;
    grid-row: 1/2;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.server_layout ul::-webkit-scrollbar{
    display: none;
}

.server_layout li {
    padding-bottom: 5px;
    margin: 0px;
}

.display_modal {
    display: block;
}

.hide_modal {
    display: none;
}


.home:focus {
    border-radius: 20px;
    background-color: #5765f2;
}

.home:hover {
    border-radius: 20px;
    background-color: #5765f2;
}

.home {
    height: 55px;
    width: 55px;
    border-radius: 50px;
    background-image: image-url("button_logo.svg");
    margin-bottom: 8px;
    transition: 0.1s;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #2f3137;
    background-position: center;
    border: none;
}

.line {
    border-top: 2px solid #37393f;
    width: 60%;
    margin-bottom: 8px;
}

.purple{
    background-color: #5765f2;
    color: white;
    border: 1px solid black;
    padding: 8px;
    margin-bottom: 5px;
}

.editDeleteChannel .server-menu-close {
    display: flex;
    justify-content: flex-end;
    height: 5%;
    margin-right: 5%;
}

.red {
    color: #ed4245;
    background-color: inherit;
    border: none;
}



.modal {
    grid-column: 1/-1;
    position: absolute;
    grid-row: 1/2;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-left: auto;
    margin-right: auto;
    background-color: #37393f;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    height: 200px;
    width: 300px;
    border: 1px solid black;
    color: white;
}

.modal .createServerButtons {
    display: flex;
    justify-content: flex-end;
    color: #dadbdc;
    align-items: center;
    width: inherit;
    height: 57px;
    background-color: #2f3137;
}

.modal .createServerButtons button {
    margin-right: 10px;
    margin-top: 10px;
    border-radius: 3px;
}

.modal .createServerButtons .cancel {
    background-color: inherit;
    color: white;
    border: none;
    padding: 3px;
}

.title {
    text-align: center;
}

.modal input {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    background-color: #2f3137;
    border: none;
    color: white;
}

.dropdown {
    grid-column: 2/3;
    display: grid;
}

i {
    display: inline-block;
}

.server_menu {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
    height: 50px;
    align-items: center;
    grid-row: 1/2;
    position: relative;
    width: 200px;
}

.server-dropdown{
    position: fixed;
    z-index: 1;
    height: 400px;
}

.server_menu p{
    padding-left: 8px;
    font-size: 15px;
    font-weight: bold;
    color: white;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    max-width: 60%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.server_menu i {
    font-size: 18px;
    color: white;
    padding-right: 6%;
}

.channel_container {
    height: 100vh;
    background-color: #2f3137;
    display: grid;
    grid-template-rows: 50px 50px;
    position: relative;
    width: 100;
}

.options p {
    margin-left: 20px;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.channels ul{
    background-color: #2f3137;
    display: block;
    width: 200px;
    scrollbar-width: none;
}

.channels ul::-webkit-scrollbar{
    display: none;
}

.single-channel i{
    padding-left: 5px;
    padding-right: 5px;
    font-size: 20px;
}

.channels {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

.single-channel{
    display: flex;
    align-items: center;
    color: #868a8e;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 0px;
    font-size: 16px;
    height: 25px;
    // width: 60%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.single-channel .cog {
    margin-left: auto;
    padding-right: 5%;
    color: #2f3137;
}

.single-channel:hover .cog{
    color: #868a8e;
    cursor: pointer;
}

.single-channel p{
    color: #868a8e;
    overflow: hidden;
    text-overflow: ellipsis;
}

.single-channel a {
    width: 60%;
}

.channels ul li {
    margin-top: 10px;
    margin-bottom: 10px;
}


.createChannel {
    background-color: #37393f;
    width: 400px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    top: 50%;
    position: fixed;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    text-align: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    border: 1px solid black;
    display: flex;
   
}

.createChannel input{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    border-radius: 3px;
    background-color: #2f3137;
    border: 1px solid black;
    border-bottom: 1px solid black;
    color: white;
    text-indent: 5px;
}

.createChannel i {
    color: #dcddde;
}

.createChannel form {
    width: inherit;
}

.createChannel button{
    margin-bottom: 20px;
    border-radius: 3px;
}

.editDeleteChannel {
    background-color: #37393f;
    width: 400px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    top: 50%;
    position: fixed;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    text-align: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    border: 1px solid black;
    height: 200px;
}

.editDeleteChannel input {
    background-color: #202225;
    border: none;
    text-indent: 5px;
    margin-top: 5%;
}

.EditServerButtons {
    display: flex;
    justify-content: space-between;
    color: #dadbdc;
    background-color: #202225;
    align-items: center;
    width: inherit;
    bottom: 0;
    position: absolute;
    height: 20%;
}

.EditServerButtons button {
    margin: 10px;
    border: none;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    border-radius: 3px;
}



.modal-container {
    position: fixed;
    top: 0;
    left: 0; 
    height: 100vh;
    width: 100vw;
    z-index: 2;
    align-items: center;
}

.server-item:focus {
    border-radius: 20px;
    background-color: #5765f2;
}

.server-item:hover {
    border-radius: 20px;
    background-color: #5765f2;
}

.server-item {
    height: 55px;
    width: 55px;
    border-radius: 50px;
    margin-bottom: 8px;
    transition: 0.1s;
    background-color: #2f3137;
    border: none;
    color: white;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.add-server {
    height: 55px;
    width: 55px;
    border-radius: 50px;
    margin-bottom: 8px;
    transition: 0.1s;
    background-color: #2f3137;
    border: none;
    color: #3b9e5b;
    font-size: 30px;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.add-server:focus {
    border-radius: 20px;
    background-color: #3b9e5b;
    color: white;
}

.add-server:hover {
    border-radius: 20px;
    background-color: #3b9e5b;
    color: white;
}

.hash {
    padding-right: 5px;
}

.createChannelButtons {
    display: flex;
    justify-content: flex-end;
    color: #dadbdc;
    background-color: #2f3137;
    align-items: center;
    width: inherit;
    position: relative;
}

.createChannelButtons button {
    margin-top: 20px;
    margin-right: 5%;
}

.createChannelButtons .cancel {
    border: none;
    color: #dadbdc;
    background-color: inherit;
}

.createChannelButtons .modalCreateButton {
    background-color: #5765f2;
    color: #dadbdc;
    border-radius: 3px;
    border: none;
    padding: 8px;
}

.cancel {
    margin-right: 10px;
}

.explore {
    grid-column: 3/-1;
    list-style-type: none;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    color: white;
    display: flex;
    flex-wrap: wrap;
}



.explore .unjoined {
    width: 20%;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid black;
    margin-top: 5%;
    margin-right: 3%;
}

.explore .unjoined button {
    background-color: #5765f2;
    border: none;
    color: white;
}

.explore .unjoined p {
    width: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}

.settings {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    bottom: 0;
}

.settings i {
    color: #868a8e;
    font-size: 30px;
    margin-bottom: 5px;
}

#x {
    text-align: right;
    margin-right: 5%;
    font-size: 20px;
}

.error-li {
    width: 80%;
    // margin-left: auto;
    margin-right: auto;
    color: red;
}

.errors {
    color: red;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

