// .nav-bar {
//     display: flex;
//     justify-content: space-between;
// }

a {
    text-decoration: none;
}

nav {
    padding: 0px;
    margin:0px;
    background-color: #404EED;
    color: white;
    font-weight: 600;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.nav-wrapper img {
    width: 125px;
    height: 35px;
    padding-top: 20px;
}

.nav-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1180px;
    margin-left: auto;
    margin-right: auto;
}

.links {
    display: flex;
}

.link {
    padding-right: 25px;
    padding-top: 15px;
}

nav a {
    color: white;
    font-weight: 600;
    font-family: sans-serif;
}

.body-section-one {
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    // background-image: image-url('clouds.svg');
    background-color: #404EED;
    position: relative;
}

.body-section-one .background {
    grid-row: 1/2;
    grid-column: 1/-1;
}

.body-section-one .background img {
    max-width: 100%;
    max-height: 100%;
}

.body-section-one .image-one {
    grid-column: 1/7;
    grid-row: 1/2;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
   
}

.body-section-one .image-one img {
    max-height: 55%;
    max-width: 55%;
    margin-left: 20%;
}

.body-section-one .image-two {
    grid-column: 7/-1;
    grid-row: 1/2;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.body-section-one .image-two img {
    // position: absolute;
    // bottom: 0;
    max-height: 55%;
    max-width: 55%;
    margin-left: 27%;
}



.body-section-one .text {
    grid-column: 5/9;
    grid-row: 1/2;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10%;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    color: white;
    
}

.body-section-one h1 {
    font-size: 50px;
}


.body-section-one p {
    max-width: 95%;
    font-size: 20px;
    line-height: 1.8;
    margin-left: auto;
    margin-right: auto;
}


.body-section-two {
    max-width: 1180px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    padding: 5%;
}

// .body-section-two img {
//     width: 100%;
// }

.body-section-two .image-container {
    grid-column: 1/7;
}

.body-section-two .bs2_text {
    grid-column: 9/-1;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.bs2_text h1 {
    font-size: 2.5em;
}

.bs2_text p {
    font-size: 1.25em;
    line-height: 150%;
}

.body-section-three {
    max-width: 1180px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    padding: 4.5%;
    // background-color: #D3D0D4;
}

.body-section-three .bs3_text {
    grid-column: 2/6;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    margin-top: 15%;
}

.bs3_text p {
    font-size: 1.25em;
    line-height: 150%;
}

.body-section-three .image-container3 {
    grid-column: 6/-1;
}

.body-section-four {
    text-align: center;
    padding: 3%;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.body-section-four h1 {
    font-size: 2.5em;
}

.body-section-four p {
    font-size: 1.25em;
    line-height: 150%;
}

.body-section-five {
    text-align: center;
    padding-top: 4%;
    padding-bottom: 2%;
}

.container {
    max-width: 1180px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(12,1fr);
}

.body-section-five .image-container4{
    grid-column: 4/10;
}

.body-section-five button {
    padding: 10px;
    background-color: #404EED;
    color: white;
    border-radius: 50px;
}

.color {
    background-color: #F1F0F1;
}

.color2 {
    background-color: black;
}

.footer .color3 {
    color:#404EED;
}

.footer {
    max-width: 1260px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    padding-top: 3%;
}

.footer p {
    color: white;
}




.login-button {
    padding: 10px 5px;
    border-radius: 50px;
    border: none;
}

.login {
    color: black;
    padding: 10px 10px;
}

.bs1b {
    display: flex;
    justify-content: center;
}

.bs1b .b1 {
    border-radius: 50px;
    padding: 15px;
    margin-right: 25px;
    background-color: white;
}

.bs1b .b2 {
    border-radius: 50px;
    padding: 15px;
    background-color: black;
    color: white;
}

.footer1 {
    grid-column: 1/3;
}

.footer2 {
    grid-column: 5/6;
}

.footer3 {
    grid-column: 7/8;
}

.footer4 {
    grid-column: 9/10;
}

.footer5 {
    grid-column: 11/12;
}

.auth_background {
    background-image: image-url("login_wallpaper.png");
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
    background-size: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
}

.login-form2 {
    width: 650px;
    background-color: #2f3137;
    border-radius: 5px;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.login-form2 input {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 35px;
    background-color: #313339;
    margin-bottom: 15px;
    margin-top: 12px;
    border: 1px solid #1b1b1b;
    color: white;
    text-indent: 5px;
}

.login-form2 input:hover {
    border: solid 1px black;
}

.login-form2 input:focus {
    border: solid 1px #099cd7;
    outline: none;
}

.auth_background p {
    color: #a0a2a6;
    font-size: 16px;
    margin-right: auto;
    margin-left: auto;
    text-align: left;
    width: 80%;

}

.auth_background h1 {
    font-size: 24px;
    color:white;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 14px;
    margin-top: 30px;
    text-align: left;
}

.auth_background button {
    height: 44px;
    width: 80%;
    color: white;
    background-color: #5865f2;
    border: none;
    border-radius: 5px;
    margin-bottom: 5px;
    margin-right: auto;
    margin-left: auto;
    display: block;
}

.auth_background a {
    // display: block;
    margin-bottom: 15px;
    margin-left: 2px;
    color: #2d9ad4 ;
}

.signup-form {
    width: 480px;
    background-color: #2f3137;
    border-radius: 5px;
    height: 560px;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.signup-form input {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 35px;
    background-color: #313339;
    margin-bottom: 15px;
    margin-top: 12px;
    border: 1px solid #1b1b1b;
    color: white;
    text-indent: 5px;
}

.signup-form h1 {
    text-align: center;
    margin-top: 50px;
}

.signup-form p {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.signup-form button {
    margin-bottom: 15px;
}

.signup-form .link {
    margin-left: 10%;
}















